# SENDMAIL CONFIG
# 
# PARAMETROS GERIAS DE CONFIGURAÇÃO
# PARA USO NO SCRIPT sendmail.sh
#
# AUTOR: ANDRÉ LUIZ TAVARES MACEDO JUNIOR
# DATA: 2021/09/02
#

# USUARIO DE E-MAIL REMETENTE
# user='usuario@dominio'

user='usuario@dominio'

# SENHA DE USUARIO REMETENTE
# pass='minhasenha'

pass='minhasenha'

# SMTPS SERVER E PORTA
# smtps='smtps://smtp.dominio:porta'

smtps='smtps://smtp.dominio:465'

# ARQUIVO DE E-MAIL
# file='/raiz/pasta/arquivo.txt'

file='/home/user/sendmail/email.txt'

